.accuracy-wrapper{
    width: 94%;
    margin: 1%;
    padding: 2%;
    border-radius: 2px;
    background-color: aliceblue;
    color: blue;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

